@font-face {
    font-family: 'Cafe24 Shiningstar';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Cafe24Shiningstar/Cafe24Shiningstar.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Cafe24Shiningstar/Cafe24Shiningstar.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Cafe24Shiningstar/Cafe24Shiningstar.ttf') format('truetype');
}
